%div#serverlist
  %div#serverfilters
    -if user_signed_in?
      = link_to 'New Server', new_server_path

  %ul#serverlist-ul
    - @servers.each do |server|
      %li.server
        %span.serverleft
          %span.servername
            =link_to server.name, server
          %b
            A
            = server.game_mode
            server.
        %span.serverright
          %b
            website:
          = link_to server.website, server.website, :target => "_blank"
          %br
          %b
            Description:
          = server.description
          =server.name
  %br.clearboth


