%h1=@server.name


%p todo... show the fields!
%p make sure to used the server_helper method game_mode_to_s when displaying the game_mode. it takes in the game_mode as a parameter and will output the string version

= link_to 'Edit', edit_server_path(@server)
