%div#showuser
  %div.header
    %div#usertitle
      %div
        =@user.username
  %div#userbody
    %div#usercontent
      %div#userdetails
        Bio here.
        %hr
      %div#useractions
        %ul
          %li
            user registered on
            = @user.created_at
    %div#userinfo
      %div#userinfo-title
        User Basics
        %hr
        %div.userinfo-field
          %b
            Website:
          %br
          website
    %br.clearboth
- if can? :update, @user
  = link_to 'Edit', edit_user_registration_path(@user)
