%h1= @user.username
-me = can? :update, @user
-if me
  %p
    Email (not shown publically): 
    =@user.email
%p
  Minecraft Username:
  =@user.mc_username   
-if me
  %br
  =link_to "Edit Information", edit_user_registration_path

