%div#showuser
  %div.header
    %div#usertitle
      %div
        =@user.username
  %div#userbody
    %div#usercontent
      %div#userdetails
        -if !@user.bio.nil? and !@user.bio.blank?
          =@user.bio
          %hr
      %div#useractions
        %ul
          %li
            user registered on
            = @user.created_at
    %div#userinfo
      %div#userinfo-title
        User Basics
        %hr
        %div.userinfo-field
          - if !@user.mc_username.nil? and !@user.mc_username.blank?
            %b
              Minecraft Username:
            %br
            =@user.mc_username
        %div.userinfo-field
          - if !@user.website.nil? and !@user.website.blank?
            %b
              Website:
            %br
            = link_to @user.website, url_with_protocol(@user.website), :target => "_blank"
    %br.clearboth
- if can? :update, @user
  = link_to 'Edit', edit_user_registration_path(@user)
