%h1= @user.username
-me = can? :update, @user
-if me
  %p
    Email (not shown publicly): 
    =@user.email
-if !@user.mc_username.nil? and !@user.mc_username.blank?
  %p
    Minecraft Username:
    =@user.mc_username
- else
  %p Empty profile...
-if me
  %br
  =link_to "Edit Information", edit_user_registration_path

