%h1= @user.username
-me = @user == current_user
-if me
  %p
    Email: 
    =@user.email
%p
  Minecraft Username:
  =@user.mc_username   
-if me
  %br
  =link_to "Edit Information", edit_user_registration_path

