
@import "blueprint/reset";
@import "partials/base";
@import "blueprint";
@import "blueprint/scaffolding";
@import "blueprint/grid";


// If you are doing a lot of stylesheet concatenation, it is suggested
// that you scope your blueprint styles, so that you can better control
// what pages use blueprint when stylesheets are concatenated together.
body {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  

  background: $blueprint-background-color image-url("bg.jpg");
  background-position:center;
  background-attachment:fixed;
  a {
    text-decoration:none;
    
  }
  br.clearboth { clear:both; }
  hr {
    border-color:#4e4e4e;
    background:#4e4e4e; 
    opacity:.4;   
  }

  #container {
    @include container;
  }
  #header {
    #title {
      a { color:#4e4e4e; }
      font-size:85px;
      font-family:'cabin sketch';
      line-height:1em;
    }
    nav {
      padding:20px 0 0 0;
      border-style:solid;
      border-color:#9d9d9d;
      text-align:right;
      display:inline;
      float:right;
      background:#6dbafb;
      font-size:20px;
      height:71px;
      width:106px;

      ul {
        margin:0px;
        padding:0px;
        li {
          list-style:none;
          margin:0px;
          padding:0 5px 0 0;
          line-height:20px;
          &:hover {
            background:#b4d9f9;
            a { color: #06C; }
          }
        }
      }
    }
  }
  #notifications {
    .info, .success, .warning, .error, .validation {
      border: 1px solid;
      margin: 10px 0px;
      padding:15px 10px 15px 50px;
      background-repeat: no-repeat;
      background-position: 10px center;
    }
    .info {
      color: #00529B;
      background-color: #BDE5F8;
      background-image: url('info.png');
    }
    .success {
      color: #4F8A10;
      background-color: #DFF2BF;
      background-image:url('success.png');
    }
    .warning {
      color: #9F6000;
      background-color: #FEEFB3;
      background-image: url('warning.png');
    }
    .error {
      color: #D8000C;
      background-color: #FFBABA;
      background-image: url('error.png');
    }
  }
  #content {
    clear:both;
    $content-columns: 24;
    margin-bottom:20px;
    .userforms {
        @include blueprint-form;
        @include column(23);
        padding:30px 0px 50px ($blueprint-grid-outer-width * 8);
        border:1px solid black;
        background:#4e4e4e;
        color:white;
        h1 { color: #fAFAFA; }
        a { color: #F0F0F0; }
    }
    #serverlist {
    	border-width: 2px;
    	border-color:#4e4e4e;
    	border-style:solid;
	    background:image-url("trans.png");
	    width:100%-2px;
      ul { padding:0px;}
	    #serverfilters {
	      @include blueprint-form;
	      background:#4e4e4e;
	      font-size:30px;
	      color: black;
	      a { color:black; }
	      #serverfunctions {
	        float:left;
	        background:image-url("trans.png");
	        width:300px;
	        font-family:'cabin sketch';
	        ul {
	          padding:10px 0px 0px 0px;
	          border-width:0 1px 1px 0;
	          border-style:solid;
	          border-color:#657d96;
	          margin-right:0px;
	          margin-bottom:20px;
	        }
	        li {
	          padding-left:30px;
	          border-width:1px 0px 0px 0px;
	          border-style:solid;
	          border-color:#657d96;
	          margin: 0px;
	          width:100%-30px;
	          &:hover {
	            background:image-url("trans.png");  
	          }
	          input {
	            margin:5px;
	            width:230px;
	            background:#abc2d9;
	            font-size:20px;
	            border:1px solid #657d96;
	          }
	        }
	      }
	      #serverheader {
	        float:right;
	        background:image-url("trans.png");
	        width:643px;
	        font-size:15px;
	        padding:10px 0 15px 0;
	        height:101px;

	        div {
	          border-width:1px 0 1px 0;
	          border-style:solid;
	          border-color: #657d96;
	          padding:10px;
	        }
	      }
	    }
	    #serverlist-ul { border-top:4px solid #4e4e4e; width:100%; }
	    .server {
	      width:100%-30px;
      	border-bottom:4px solid #4e4e4e;	
      	height: 60px;
      	color:black;
      	background:image-url("trans.png");
      	display: block;
      	text-decoration: none;
      	padding-left:30px;
      	&:hover {
      	  background:#8db6dc;
      	}
      	.serverleft {
      	  float:left;
          width:350px;
      	  height:100%;
      	  .servername { 
            font-size:20px;
            display:block;
            margin-bottom:-10px;
            font-family:'play';
            word-spacing:-5px;
      	  }
      	}
      	.serverright {
      	  width:540px;
      	  padding-top:5px;
      	  line-height:1em;
          float:right;
      	}
 	    }
	  }
    #userlist {
      font-size:15px;
      border-width: 2px;
    	border-color:#4e4e4e;
    	border-style:solid;
	    background:image-url("trans.png");
	    width:100%-4px;
	    #userfilters {
	      background:#4e4e4e;
	      height:70px;
	      font-size:1.5em;
	      color: white;
	      a { color:white; }
	      div {
	        color:black;
	        padding:20px;
	        height:100%;
	        background:image-url("trans.png");
	        
	      }
	    }
	    ul {
	      border-top:5px solid #4e4e4e;
	      width:100%;
	      margin:0px;
	      padding:0px;
	      li {
        	&:hover {
        	  background:#8db6dc;
        	}
	      }
	    }
      #userlist-header {
        font-size:20px;
        line-height:20px;
        height:20px;
       }
      .user {
        width:100%;
      	border-bottom:2px solid #4e4e4e;	
      	height: 10px;
      	color:black;
      	background:image-url("trans.png");
      	display: block;
      	text-decoration: none;
      	padding:0px 20px 10px 30px;

      	span {
      	  float:left;
      	  height:10px;
          margin:0px;
      	}
      	.username {
          width:300px;
          font-family:'play';
        }
        .mcusername {
          width:200px;       
        }
      } 
    }
    #showserver {
      padding: 0px 00px;
      .header {
        padding:0px 0px;
        #servertitle {
          div {
            word-wrap:break-word;
            line-height:60px;
            font-size:60px;
            font-family:'play';
            color:black;
            padding:-20px 0px -50px 0px;
            border-top-left-radius:10px;
            border-top-right-radius:10px;
            padding-left: 20px;
             
          }


        }
      }
      #serverbody {
        padding:20px;
        background:image-url('trans.png');
        width:890px;
        border:2px solid #6a7987;
        #servercontent {
          width:570px;
          float:left;
          #serverdetails {
            border-bottom:5px solid #4d6a85;
            margin-bottom:20px;
            padding:10px;
            font-size:20px;
            background:image-url("trans.png");
          }
          #serveractions {
            border-left:5px solid #333;
            padding:10px;
            font-size:20px;
            font-weight:bold;
            width:570px;
            float:left;
          }
        }
        #serverinfo {
          float:right;
          width:250px;
          border-top-left-radius:15px;
          border-bottom-left-radius:15px;
          font-size:20px;
          #serverinfo-title {
            text-align:center;
          }
          hr { margin:4px; }
          .serverinfo-field {
            word-wrap:break-word;
            background:image-url("trans.png");
            font-size:20px;
            padding-left:10px;
            text-indent:-10px;
            line-height:20px;
            b { color:black; font-size:15px; }
            
          }
        }
      }
    }
  } 
  #footer {
    padding:10px 10px 10px 10px;
    margin-bottom:20px;
    img {
      float:left;
      margin-right:30px;
    }
    div {
      height:100%;
      width:870px;
      padding:20px 20px 50px 40px;
      border-radius:20px;
      background:#b0d1f2;
//      border:2px solid #cbcbcb;
      box-shadow:0 0  20px #dbdadc;
      ul {
        float:left;
        display:inline;
        lh {
          font-family:'cabin sketch';
          font-size:40px;
          border-bottom:2px solid #6e8088;
          padding-right:10px;
        }
        li {
          font-family:'play';
          font-size:14px;
          list-style:none;
          padding-left:10px;
          border-bottom:1px solid #6e8088;
          &:hover {
            background:#a8c5e3;
          }  
        }
      }
    }
  }
}

