
@import "blueprint/reset";
@import "partials/base";
@import "blueprint";
@import "blueprint/scaffolding";
@import "blueprint/grid";


// If you are doing a lot of stylesheet concatenation, it is suggested
// that you scope your blueprint styles, so that you can better control
// what pages use blueprint when stylesheets are concatenated together.
body {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  

  background: $blueprint-background-color image-url("bg.jpg");
  background-position:center;
  background-attachment:fixed;
  a {
    text-decoration:none;
    
  }
  br.clearboth { clear:both; }
  hr {
    border-color:#4e4e4e;
    background:#4e4e4e; 
    opacity:.4;   
  }

  #container {
    @include container;
  }
  #header {
    #title {
      a { color:#4e4e4e; }
      font-size:5em;
      font-family:'cabin sketch';
      line-height:1em;
    }
    nav {
      display:inline;
      float:right;
      background:none;
      font-size:2.5em;
      font-family:'VT323';
      ul { float:right; }
      ul {
        display:inline;
        margin:0px;
        padding:0px;
        li {
        padding:0px;
          display:inline;
        }
      }
    }
  }
  #notifications {
    .info, .success, .warning, .error, .validation {
      border: 1px solid;
      margin: 10px 0px;
      padding:15px 10px 15px 50px;
      background-repeat: no-repeat;
      background-position: 10px center;
    }
    .info {
      color: #00529B;
      background-color: #BDE5F8;
      background-image: url('info.png');
    }
    .success {
      color: #4F8A10;
      background-color: #DFF2BF;
      background-image:url('success.png');
    }
    .warning {
      color: #9F6000;
      background-color: #FEEFB3;
      background-image: url('warning.png');
    }
    .error {
      color: #D8000C;
      background-color: #FFBABA;
      background-image: url('error.png');
    }
  }
  #content {
    clear:both;
    $content-columns: 24;
    margin-bottom:20px;
    .userforms {
        @include blueprint-form;
        @include column(23);
        padding:30px 0px 50px ($blueprint-grid-outer-width * 8);
        border:1px solid black;
        background:#4e4e4e;
        color:white;
        h1 { color: #fAFAFA; }
        a { color: #F0F0F0; }
    }
    #serverlist {
    	border-width: 1px 1px 1px 1px;
    	border-color:black;
    	border-style:solid;
	    background:image-url("trans.png");
	    width:span(22)-2;
	    #serverfilters {
	      padding:20px;
	      background:#4e4e4e;
	      height:70px;
	      font-size:1.5em;
	      color: white;
	      a { color:white; }
	    }
	    .server {
	      @include column(23);
      	border-bottom:4px solid #4e4e4e;	
      	height: 60px;
      	color:black;
      	background:image-url("trans.png");
      	display: block;
      	text-decoration: none;
      	padding-left:30px;
      	&:hover {
      	  background:#4e4e4e;
      	  a { color: white; }
      	}
      	.serverleft {
      	  @include column(9);
      	  height:100%;
      	  span {
  //    	    padding:0px;
   //   	    margin:0px;
      	  }
      	  .servername { 
            font-size:20px;
            display:block;
            margin-bottom:-10px;
            font-family:'Neutron';
            word-spacing:-5px;
      	  }

      	}
      	.serverright {
      	  padding-top:5px;
      	  line-height:1em;
      	  @include column(13);
      	}
 	    }
	  }
    #userlist {
      border-width: 1px 1px 1px 1px;
    	border-color:black;
    	border-style:solid;
	    background:image-url("trans.png");
	    width:span(22)-2;
	    #userfilters {
	      padding:20px;
	      background:#4e4e4e;
	      height:70px;
	      font-size:1.5em;
	      color: white;
	      a { color:white; }
	    }
      .user {
	      @include column(23);
      	border-bottom:4px solid #4e4e4e;	
      	height: 40px;
      	color:black;
      	background:image-url("trans.png");
      	display: block;
      	text-decoration: none;
      	margin-left:30px;
        
      } 
    }
    #showserver {
      padding: 0px 00px;
      .header {
        padding:0px 0px;
        #servertitle {
          div {
            line-height:60px;
            font-size:60px;
            font-family:'play';
            color:black;
            padding:-20px 0px -50px 0px;

            border-top-left-radius:10px;
            border-top-right-radius:10px;
            padding-left: 20px;
             
          }


        }
      }
      #serverbody {
        padding:20px;
        background:image-url('trans.png');
        width:890px;
        border:2px solid #6a7987;
        #servercontent {
          width:570px;
          float:left;
          #serverdetails {
            border-bottom:5px solid #4d6a85;
            margin-bottom:20px;
            padding:10px;
            font-size:20px;
            background:image-url("trans.png");
          }
          #serveractions {
            border-left:5px solid #333;
            padding:10px;
            font-size:20px;
            font-weight:bold;
            width:570px;
            float:left;
          }
        }
        #serverinfo {
          float:right;
          width:250px;
          border-top-left-radius:15px;
          border-bottom-left-radius:15px;
          font-size:20px;
          #serverinfo-title {
            text-align:center;
          }
          hr { margin:4px; }
          .serverinfo-field {
            background:image-url("trans.png");
            font-size:20px;
            padding-left:10px;
            text-indent:-10px;
            line-height:20px;
            b { color:black; font-size:15px; }
            
          }
        }
      }
    }
  } 
  #footer {
    @include column(24);
    height:200px;
    background:#4e4e4e;

  }
}

form.bp {
  @include blueprint-form; 
}
